*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.header {
    display:flex;
    justify-content: center;
    margin-top:30px;
}

header {
    font-size: 30px;
}

.game_board {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width: 450px;
    height: 450px;
}

.big_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:80vh;
} 

.square {
    border: 1px solid black;
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    width: 150px;
    height: 150px;
}


.blur{
    filter: blur(2px);
}

