*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Overpass:ital,wght@1,100&family=Tajawal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Open+Sans:wght@700;800&family=Overpass:ital,wght@1,100&family=Tajawal&display=swap');

body {
    background-color: rgb(202, 227, 91);
    font-family: 'Open Sans', sans-serif;
    font-family: 'Overpass', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

.header {
    display:flex;
    justify-content: center;
    margin-top:40px;
    color: rgb(43, 38, 116);
    font-size: 60px;
    text-shadow: 2px 2px white;
}

.game_board {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    width: 450px;
    height: 450px;
    grid-gap: 5px;
    border-collapse: separate;
    
}

.big_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:70vh;
    margin-top: 40px ;
    flex:0 1 auto;
 
} 

.square {
    border: 2px solid rgb(43, 38, 116);
    font-size: 100px;
    text-align: center;
    cursor: pointer;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(126, 231, 245);
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

button {
    background-color: rgb(126, 231, 245);
    color:rgb(43, 38, 116) ;
    padding: 7px;
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid rgb(43, 38, 116);
    cursor: pointer;
}

.turn {
    color: rgb(255, 255, 255);
    margin-top: 40px;
    font-size:25px;

}

.square:hover {
    background-color: rgb(0, 199, 199);
}
